html {
    font-size: 16px;
    background-color: #faead6;
    color: #000;
    font-family: 'Roboto Mono', monospace;
}
body {
    margin: 0px;
}
nav {
    padding: 0 70px;
    display: flex;
    align-items: center;
}
nav h1 {
    width: 50%;
    margin-right: auto;
}
nav li {
    display: inline-block;
    margin-left: 30px;
}
nav ul {
    padding: 0 20px;
    display: block;
    margin-left: auto;
    width: 50%;
    text-align: right;
}
nav a {
    text-decoration: none;
    color: #000;
}
nav a:hover {
    color: #5D3623;
    text-decoration: underline;
}
.about-me-container {
    display: flex;
    padding: 20px 70px;
}
.about-me-container img {
    margin-top: 70px;
    width: 350px;
    margin-right: auto;
    margin-left: 50px;
    height: 350px;
    object-fit: cover;
    border-radius: 30px;
    object-position: 100% 0;
}
.about-me-text {
    width: 60%;
}
#projects {
    display: block;
    padding: 20px 70px;
}
.skills-section {
    padding: 20px 70px;
}
.skills-images img {
    width: 40px;
    height: 40px;
}
.skills-title {
    width: 100%;
}
.skills-images {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#contact-me {
    padding: 20px 70px;
    width: 60%;
}
#contact-me img {
    width: 50px;
    height: 50px;
}
#projects a {
    color: #000;
    text-decoration: none;
}
#projects a:hover {
    color: #5D3623;
    text-decoration: underline;
}
#projects a::before{
    content: "»"
}