html {
    font-size: 16px;
    background-color: #faead6;
    color: #000;
    font-family: 'Roboto Mono', monospace;
}
body {
    margin: 0;
}
nav {
    padding: 0 4.375rem;
    display: flex;
    align-items: center;
}
nav h1 {
    width: 30%;
    margin-right: auto;
}
nav li {
    display: inline-block;
    margin-left: 1.875rem;
}
nav ul {
    padding: 0 1.25rem;
    display: block;
    margin-left: auto;
    width: 70%;
    text-align: right;
}
nav a {
    text-decoration: none;
    color: #000;
}
nav a:hover {
    color: #5D3623;
    text-decoration: underline;
}
@media screen and (max-width: 550px){
    nav h1 {
        display: none;
    }
    nav ul {
        width: 100%;
        text-align: center;
    }
    nav li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.about-me-container {
    display: flex;
    padding: 1.25rem 4.375rem;
}
.about-me-container img {
    margin-top: 4.375rem;
    width: 21.875rem;
    margin-right: auto;
    margin-left: 3.125rem;
    height: 21.875rem;
    object-fit: cover;
    border-radius: 1.875rem;
    object-position: 100% 0;
}
.about-me-text {
    width: 60%;
}
.about-me-text h2 {
    font-size: 2rem;
}
@media screen and (max-width: 800px) {
    .about-me-container {
        flex-direction: column;
    }
    .about-me-text {
        width: 100%;
    }
    .about-me-container img {
        margin: 1.5rem auto;
    }
}
@media screen and (max-width: 450px){
    .about-me-container img {
        width: 15rem;
        height: 15rem;
    }
}
#projects {
    display: block;
    padding: 1.25rem 4.375rem;
}
#projects h2 {
    font-size: 2rem;
}
.skills-section {
    padding: 1.25rem 4.375rem;
}
.skills-images img {
    width: 2.5rem;
    height: 2.5rem;
}
.skills-title {
    width: 100%;
}
.skills-title h2 {
    font-size: 2rem;
}
.skills-images {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    justify-content: space-evenly;
}
@media screen and (max-width: 450px){
    .skills-images img {
        width: 1.5rem;
        height: 1.5rem;
    }
}
#contact-me {
    padding: 1.25rem 4.375rem;
    width: 60%;
}
#contact-me img {
    width: 1.875rem;
    height: 1.875rem;
}
#contact-me h2 {
    font-size: 2rem;
}
#projects a {
    color: #000;
    text-decoration: none;
}
#projects a:hover {
    color: #5D3623;
    text-decoration: underline;
}
#projects a::before{
    content: "»"
}
.project-title {
    margin-top: 3.125rem;
}
#promo-content {
    display: none;
}
#wallpaper-content {
    display: none;
}
#cm-luxury-content {
    display: none;
}
#sf-coffee-content {
    display: none;
}

@media screen and (max-width: 550px) {
    #projects img {
        width: 100%;
    }
}
@media screen and (max-width: 400px){
    #projects img {
        display: none;
    }
    .about-me-container img {
        width: 100%;
    }
}