html {
    font-size: 16px;
    background-color: antiquewhite;
}
body {
    margin: 0px;
}
nav {
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
}
nav h1 {
    width: 50%;
    margin-right: auto;
}
nav li {
    display: inline;
}
nav ul {
    margin-left: auto;
    width: 50%;
    text-align: right;
}
.about-me-container {
    display: flex;
    padding: 20px 30px;
}
.about-me-container img {
    width: 30%;
    margin-left: auto;
}
.about-me-text {
    padding-right: 70px;
}