#welcome-section {
    text-align: center;
    background: url('../../../public/images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
.continue {
    position: absolute;
    bottom: 20px;
}
.welcome-bg {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}