#welcome-section {
    text-align: center;
    height: 100vh;
    width: 60%;
    margin: auto;
}
@media screen and (max-width: 800px) {
    #welcome-section {
        width: 80%;
    }
}
.welcome-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}