#welcome-section {
    text-align: center;
    background-color: #121212;
    /*background: url('../../../public/images/home-bg.jpg');*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 70%;
    margin: auto;
    color: white;
}
.welcome-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.small-text {
    font-family: 'Source Code Pro', monospace;
    color: #FF00FF;
}
.main-title {
    font-size: 4.5rem;
    font-family: 'Roboto', sans-serif;
}
.role-text {
    font-family: 'Roboto', sans-serif;
    font-size: 4.5rem;
    color: rgb(200, 200, 200);
}