#about-me {
    width: 60%;
    padding-bottom: 100px;
    margin: auto;
}
@media screen and (max-width: 800px) {
    #about-me {
        width: 80%;
    }
}
@media screen and (max-width: 430px){
    #about-me p {
        font-size: 0.7rem;
        line-height: 1.5rem !important;
    }
    .skill-tab i {
        font-size: 35px !important;
    }
    .skill p {
        font-size: 0.7rem !important;
    }
}
#about-me .section-title {
    margin-bottom: 50px;
}
#about-me p {
    text-align: center;
    line-height: 2rem;
}
.skill-tab {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skills-title {
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
}
.skill-tab i {
    font-size: 50px;
    margin-bottom: 10px;
}