#about-me {
    width: 60%;
    padding: 0 30px 30px 30px;
    margin: auto;
}
#about-me .section-title {
    margin-bottom: 50px;
}
#about-me p {
    text-align: center;
    line-height: 2rem;
}
.skill-tab {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.skill-tab i {
    font-size: 50px;
}