
@media screen and (max-width: 430px){
    #about-me p {
        font-size: 0.7rem;
        line-height: 1.5rem;
    }
    .skill-tab i {
        font-size: 35px;
    }
    .skill p {
        font-size: 0.7rem;
    }
}