#contact-section {
    width: 60%;
    padding-bottom: 100px;
    margin: auto;
}
.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.contact-buttons button {
    width: 60%;
    height: 50px;
    background-color: #121212;
    color: #FAF8FF;
    border-radius: 3px;
    border-color: #ACA7CB;
    margin: auto;
    position: relative;
    font-size: 1.5rem;
    transition: 0.4s ease-out;
}
.contact-buttons button:hover {
    background-color: #FAF8FF;
    color: #121212;
    cursor: pointer;
}
.contact-buttons button i {
    position: absolute;
    left: 10px;
}
form {
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 70px;
}
.input-field {
    display: block;
}
.input-field p {
    margin-bottom: 5px;
    font-size: 1.2rem;
}
form input {
    margin-bottom: 20px;
}
form input, form textarea {
    height: 30px;
    width: 100%;
    background-color: #050505;
    color: #FF00FF;
    font-family: 'Source Code Pro', monospace;
    border: 2px solid #050505;
    outline: none;
}
form input:focus, form textarea:focus {
    border: 2px solid #FF00FF;
}
form textarea {
    height: 70px;
}
form button {
    padding: 10px 20px;
    font-family: 'Source Code Pro', monospace;
    background-color: transparent;
    color: #FAF8FF;
    border-color: #FAF8FF;
    border-radius: 3px;
    margin-top: 20px;
    transition: 0.3s ease;
}
form button:hover {
    background-color: rgba(255, 0, 255, 0.2);
    cursor: pointer;
}