#contact-section {
    width: 60%;
    padding-bottom: 100px;
    margin: auto;
}
.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.contact-buttons button {
    width: 60%;
    height: 40px;
    background-color: #121212;
    color: #FAF8FF;
    border-radius: 3px;
    border-color: #FAF8FF;
    margin: auto;
}