#projects-section {
    width: 60%;
    margin: auto;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.project {
    width: 40%;
    position: relative;
    z-index: 1;
    background-color: #272533;
    padding: 20px;
    border-radius: 5px;
}
.project-image img {
    width: 100%;
}
.project-buttons {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.project-desc h3, .project-title {
    text-align: center;
    margin: 15px 0;
}
.project-desc ul {
    margin: 20px 0;
}
.project-desc ul li {
    padding: 5px 5px 5px 10px;
    display: list-item;
}
.project-desc ul li::marker {
    content: ">";
    color: #FF00FF;
}
.project-buttons a {
    color: #FAF8FF;
    font-size: 30px;
    transition: 0.2s ease-in-out;
}
.project-buttons a:hover {
    color: #FF00FF;
}
/*
.project-buttons button {
    padding: 5px 15px;
    background-color: transparent;
    border-color: #FF00FF;
    border-radius: 5px;
    color: #FF00FF;
    font-family: 'Source Code Pro', monospace;
    transition: 0.2s ease-in-out;
}
.project-buttons button:hover {
    cursor: pointer;
    color: #FAF8FF;
    background-color: #121212;
}
*/