.cover-color {
    background-position-y: center;
}
.hidden {
    display: none !important;
}
.thedeck .cover-color {
    background-color: #0F4C5C;
    background-image: url('../images/thedeck-ss.png');
    background-position: center;
    background-size: 99%;
}
.shuffle .cover-color {
    background-color: #111111;
    background-image: url('../images/shuffle-ss.png');
    background-size: 110%;
}
.bgmcguire .cover-color {
    background-image: url('../images/bgmcguire-ss.png');
}
.cmluxury .cover-color {
    background-image: url('../images/cmluxury-ss.png');
}
.quote-generator .cover-color {
    background-position: center;
    background-image: url('../images/quote-generator-ss.png');
}
.stay-lucid .cover-color {
    background-image: url('../images/staylucid-ss.png');
}
#projects ul li::marker {
    content: ">";
    color: #FF00FF;
}
@media screen and (max-width: 800px){
    #projects-section {
        width: 80%;
    }
}
@media screen and (max-width: 430px){
    .project {
        font-size: 0.6rem;
    }
    .cover-color {
        height: 149px !important;
    }
    .project-intro img {
        height: 150px !important;
    }
}