#header-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    backdrop-filter: blur(10px);
    z-index: 100;
    position: fixed;
    top: 0;
}
#navbar {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
#navbar ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    list-style-type: none;
}
#navbar ul li a {
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.dark #navbar ul li a {
    color: #FAF8FF;
}
.light #navbar ul li a {
    color: #121212;
}
#navbar ul li a:hover {
    color: #FF00FF;
}
#navbar ul li span {
    transition: 0.3s ease-in-out;
}
.dark #navbar ul li a:hover span {
    color: #FAF8FF;
}
.light #navbar ul li a:hover span {
    color: #121212;
}