#header-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
}
#navbar {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
#navbar ul {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    list-style-type: none;
}